/* @keyframes youScored{
  from{
    transform: rotate(20deg);
  }
  to{
    transform: rotate(-20deg);
  }
} */


@keyframes youScored{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(20deg);
  }
  50%{

    transform: rotate(-20deg);
  }
  75%{
    transform: rotate(0deg);
    transform: scale(2,2);
  }
}

p{
  margin-top: 5px;
}

#middleArea{
  margin-left: 80px;
  margin-bottom: 10px;
  text-align: center;
}

#start{
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  color: rgb(43, 227, 95);
  background-color: black;
  position: relative;
  width: 600px;
  bottom: 600px;
  left: 90px;
}

#player{
  visibility: hidden;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  color: rgb(43, 227, 95);
  position: relative;
  width: 600px;
  bottom: 80px;
  left: 70px;
}

#score{
  position: relative;
  font-family: 'Press Start 2P', cursive;
  color: rgb(43, 227, 95);
  font-size: 30px;
  bottom: 720px;
  animation-name: youScored;
  animation-duration: 2s;
  animation-iteration-count: 1;
}