#startGame{
  /* padding: 10px; */
  color: rgb(43, 227, 95);
  background-color: black;
  position: absolute;
  width: 500px;
  height: 500px;
  top: 350px;
  left: 200px;
  /* line-height: 15px; */
  font-family: 'Press Start 2P', cursive;
}


#middleArea {
  /* padding-bottom: 60px; */
  margin-left: 80px;
  margin-bottom: 100px;

}

#memoryGame{
  margin: 0px;
}

table{
  width: 800px;
  height: 800px;
  background-color: #;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 16px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-top: 0px;
  border-collapse: separate;

}
td{
  display: table-cell;
  background-color: #2e4d1d;
  border: 3px solid rgb(154, 186, 154);
  width: 200px;
  height: 150px;
  padding-top: 60px;
  color: aliceblue;

}

tr{
  border: 6px solid rgb(154, 186, 154);
}


h3{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}